@{
    ViewData["Title"] = "Home Page";
}

<div class="text-white bg-gradient bg-success p-2 my-2 border rounded">
    <h2>Environmental Data Home</h2>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <p>
            This assignment focuses on utilising basic ReactJS and your own personally made components to present annual temperature, emissions, and air quality data for various countries. 
            Through this project, you will gain hands-on experience in consuming complex JSON data using ReactJS to build an informative and interactive web application.
        </p>
        <p>Use the </p>
    </div>
</div>
